<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="repositoryMappingsConfiguration" type="GTS.Clock.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="businessMappingsConfiguration" type="GTS.Clock.Infrastructure.Report.BusinessFramework.BusinessSettings, GTS.Clock.Infrastructure.Report, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="ValidationConfiguration" type="GTS.Clock.Infrastructure.Validation.Configuration.UIValidationSettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <!--<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>-->
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="connection.connection_string">        
        <!--Server=KNPI;database=DB_AtlasHelal;User Id=sa;password=123-->        
        <!--Server=Payervand-Pc;database=falatslow;User Id=farhad;password=123;-->
        <!--Server=192.168.10.76;database=Falat;User Id=sa;password=sqlserver;-->
        <!--Server=192.168.10.66\sql2012;database=sepahGTS;User Id=sa;password=sajjad#123;-->        
        Server=KNPI;database=GhadirGTS;User Id=sa;password=123
        <!--Server=KNPI;database=GTSPrimaryDB;User Id=sa;password=123-->
        <!--Server=appsrv\SQL2008R2;database=GhadirGTS;User Id=Atlas;password=salta12345-->
      </property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2005Dialect
      </property>
      <property name="show_sql">
        false
      </property>
      <property name="connection.isolation">
        ReadUncommitted
      </property>
      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
      </property>
    </session-factory>
  </hibernate-configuration>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IPersonRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPrecardRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrecardRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRuleRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.RuleRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IELESettingRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ELESettingRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ISecondaryConceptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.SecondaryConceptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IExecutablePersonCalcRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ExecutablePersonCalcRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonWorkGroupRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonWorkGroupRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonReservedFileld" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonReservedFieldRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ICalendarRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.CalendarRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IManagerRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ManagerRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IRepository`1" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.EntityRepository`1, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IPersonalMonthlyRptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrsMonthlyRptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="IBudgetRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.BudgetRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <businessMappingsConfiguration>
    <businessMappings>
      <businessMapping businessKeyName="PersonDateRange" businessFullTypeName="GTS.Clock.Business.Reporting.BControlParameter_YearMonth, GTS.Clock.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <businessMapping businessKeyName="ToDate_Implicit_StartOfYear_EndOfYear" businessFullTypeName="GTS.Clock.Business.Reporting.BControlParameter_ToDate_Implicit_StartOfYear_EndOfYear, GTS.Clock.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </businessMappings>
  </businessMappingsConfiguration>
  <ValidationConfiguration>
    <UIValidationMappings>
      <repositoryMapping interfaceShortTypeName="IRequestUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      <repositoryMapping interfaceShortTypeName="ILockCalculationUIValidation" validatorFullTypeName="GTS.Clock.Business.UIValidation.RequestValidator, GTS.Clock.Business.UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </UIValidationMappings>
  </ValidationConfiguration>
  <appSettings file="">
    <clear />
    <add key="PartialUpdatePanel.EncryptionKey" value="k39#9sn1" />
    <add key="log4net.Internal.Debug" value="true" />
    <add key="Log4NetConfig" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.Presentaion.Forms\net4log.Config" />
    <add key="CompileReferenceDirectory" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.Presentation\Bin" />
    <add key="CompileRuleOutputFullPath" value="C:\RuleCalculator.dll" />
    <add key="CompileConceptOutputFullPath" value="C:\ConceptCalculator.dll" />
    <add key="CompileConceptCSharpCodeOutputFullPath" value="C:\Code\ConceptCalculator.cs" />
    <add key="CompileRuleCSharpCodeOutputFullPath" value="C:\Code\RuleCalculator.cs" />
    <add key="DomainInfo" value="ghadir.local" />
    <add key="ChartHttpHandler" value="Storage=memory;Timeout=180;Url=~/temp/;" />
    <add key="GanttChartTasksFeatures" value="" />
    <add key="ReportConnectionString" value="Server=KNPI;database=GhadirGTS;User Id=sa;password=123;" />
    <add key="IsUnderConstraction" value="false" />
    <add key="SecurityCodeEnabled" value="false" />
    <!--<add key="AtlasLicenseKey" value="jEcSRae0qJm8kZrHjC4pGSDx2PM=*-*10000"/>-->
    <add key="AtlasLicenseKey" value="URBQlRNwL1ZBNweKCeb+V/q1nww=*-*5000"/>
    <add key="RequestAttachmentsPath" value="E:\GTSClientAttachments\RequestsAttachments"/>
    <add key="PersonnelImagesPath" value="E:\GTSClientAttachments\PersonnelImages"/>  
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true">
      <!--<listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="LogBusiness1.txt" />
      </listeners>-->
    </trace>
  </system.diagnostics>
  <connectionStrings>
    <add name="log4netConnectionStr" connectionString="Data Source=KNPI;Initial Catalog=LogDbDebug;User Id=sa;password=123;" />
    <!--<add name="log4netConnectionStr" connectionString="Data Source=192.168.10.66\sql2012;Initial Catalog=GhadirLog;User Id=sa;password=sajjad#123;" />-->  
  </connectionStrings>
  <location path="SecurityImageViewer.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms timeout="60" cookieless="AutoDetect" loginUrl="~/Login.aspx" defaultUrl="~/MainPage.aspx?" slidingExpiration="false" />
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <membership defaultProvider="GTSMembershipProvider">
      <providers>
        <add name="GTSMembershipProvider" type="GTSMembershipProvider" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="3" passwordFormat="Clear" />
        <!--<add name="ADMembershipProvider" type="System.Web.Security.ActiveDirectoryMembershipProvider" connectionStringName="ADConnection" connectionProtection="None" connectionUsername="salavati" connectionPassword="qqq" enableSearchMethods="true" />-->
      </providers>
    </membership>
    <httpHandlers>
      <!--<add path="*.ajax" verb="POST" type="Ajax.AjaxHandlerFactory,Ajax" />
      <add path="*.ajaxj" verb="GET" type="Ajax.AjaxHandlerFactory,Ajax" />
      <add path="*.ashx" verb="*" type="iucon.web.Controls.PartialUpdatePanelHandler" validate="false" />-->
      <add verb="POST,GET" path="*.ashx" type="Ajax.AjaxHandlerFactory,Ajax" />      
      <add path="ChartAxd.axd" verb="*" type="Dundas.Charting.WebControl.ChartHttpHandler" validate="false" />
    </httpHandlers>
    <httpModules>
      <!--<add name="HttpRequestValidationProvider" type="GTS.Clock.Presentaion.Forms.App_Code.HttpRequestValidationProvider" />-->
      <!--<add name="NHibernateSessionModule" type="GTS.Clock.Infrastructure.NHibernateFramework.NHibernateSessionModule"/>-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="HttpRequestValidationProvider" preCondition="managedHandler" type="GTS.Clock.Presentaion.Forms.App_Code.HttpRequestValidationProvider"></add>-->
    </modules>
    <defaultDocument>
      <files>
        <clear />
        <add value="MainPage.aspx" />
        <add value="Login.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpRedirect enabled="false" destination="http://localhost/UnderConstructionGTS" exactDestination="true" />
    <caching>
      <profiles>
        <add extension=".js" policy="DontCache" kernelCachePolicy="DontCache" />
        <add extension=".ajaxj" policy="DontCache" kernelCachePolicy="DontCache" />
        <add extension=".axd" policy="DontCache" kernelCachePolicy="DontCache" />
      </profiles>
    </caching>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITotalWebService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/GTSWebservice/TotalWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITotalWebService" contract="GTSEngineWS.ITotalWebService" name="BasicHttpBinding_ITotalWebService" />
    </client>
  </system.serviceModel>
</configuration>