<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <section name="repositoryMappingsConfiguration" type="GTS.Clock.Infrastructure.RepositoryFramework.Configuration.RepositorySettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="businessMappingsConfiguration" type="GTS.Clock.Infrastructure.Report.BusinessFramework.BusinessSettings, GTS.Clock.Infrastructure.Report, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="ValidationConfiguration" type="GTS.Clock.Infrastructure.Validation.Configuration.UIValidationSettings, GTS.Clock.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>

  <appSettings>
    <add key="CompileReferenceDirectory" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.Model.Calculator\bin\Debug"/>
    <add key="CompileCalculateOutputFullPath" value="C:\GTS.Clock.Model.Calculator.dll"/>
    <add key="CompileConceptCSharpCodeOutputFullPath" value="C:\Code\ConceptCalculatorGenerated.cs"/>
    <add key="CompileRuleCSharpCodeOutputFullPath" value="C:\Code\RuleCalculatorGenerated.cs"/>
    <add key="CompileMergedCSharpCodeOutputFullPath" value="C:\Code\CalculaterGenerated.cs"/>
    <add key="CompileCSharpCodeConfigPath" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.AppService.Host\CalculatorCSharpConfig.xml"/>
    <add key="CompileDLLReplacePath" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.AppService.Host\bin\GTS.Clock.Model.Calculator.dll"/>
    <add key="CompileDLLBackupDirectory" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.AppService.Host\bin\backup"/>
    <add key="log4net.Internal.Debug" value="false"/>
    <add key="Log4NetConfig" value="E:\Ghadir_Win_Prg\GTS Team\Ghadir Projects\Atlas TA Project\GTS.Clock\GTS.Clock.AppService.Host\net4log.Config"/>
    <add key="ServiceAddress" value="http://localhost:5690/TotalWebService.svc"/>

  </appSettings>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.SqlClientDriver
      </property>
      <property name="connection.connection_string">
        Server=payervand-pc;database=GTS_M;User Id=farhad;password=123;
        <!--Server=192.168.10.4;database=GhadirGTS2;User Id=Atlas;password=salta123;-->
      </property>
      <property name="dialect">
        NHibernate.Dialect.MsSql2005Dialect
      </property>
      <property name="show_sql">
        false
      </property>
      <property name="connection.isolation">
        ReadUncommitted
      </property>
      <property name="proxyfactory.factory_class">
        NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu
      </property>
    </session-factory>
  </hibernate-configuration>
  <repositoryMappingsConfiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IPersonRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IPrecardRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrecardRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IRuleRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.RuleRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IELESettingRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ELESettingRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="ISecondaryConceptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.SecondaryConceptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IExecutablePersonCalcRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ExecutablePersonCalcRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IPersonWorkGroupRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonWorkGroupRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IPersonReservedFileld" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PersonReservedFieldRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="ICalendarRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.CalendarRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IManagerRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.ManagerRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IRepository`1" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.EntityRepository`1, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IPersonalMonthlyRptRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.PrsMonthlyRptRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <repositoryMapping interfaceShortTypeName="IBudgetRepository" repositoryFullTypeName="GTS.Clock.Infrastructure.Repository.BudgetRepository, GTS.Clock.Infrastructure.Repository, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </repositoryMappings>
  </repositoryMappingsConfiguration>
  <businessMappingsConfiguration>
    <businessMappings>
      <businessMapping businessKeyName="PersonDateRange" businessFullTypeName="GTS.Clock.Business.Reporting.BControlParameter_YearMonth, GTS.Clock.Business, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </businessMappings>
  </businessMappingsConfiguration>
  <ValidationConfiguration>
    <UIValidationMappings>
      <repositoryMapping interfaceShortTypeName="IRequestUIValidation" validatorFullTypeName="GTSUIValidator.Validator, Customer1UIValidation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </UIValidationMappings>
  </ValidationConfiguration>
  <connectionStrings>
    <add name="log4netConnectionStr" connectionString="Data Source=Payervand-Pc;Initial Catalog=LogDB;User Id=farhad;password=123;"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.FalatConnectionString" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.LogConnection" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.FalatConnectionString1" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.ClockConnectionString" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.GTSOrginInstanceConnectionString" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.GTSOrginConnectionString" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.GTSOrginInstanceConnectionString1" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.LocalConnectionString" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.GhadirGTSConnectionString" connectionString="Data Source=payervand-pc;Initial Catalog=GhadirGTS;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>
    <add name="GTS.Clock.AppSetup.Properties.Settings.FalatGTS2ConnectionString" connectionString="Data Source=payervand-pc;Initial Catalog=FalatGTS2;Persist Security Info=True;User ID=farhad;Password=123" providerName="System.Data.SqlClient"/>

    <!--  برای Entities Framework  -->
    <add name="ReportEntities" connectionString="metadata=res://*/ReportModel.csdl|res://*/ReportModel.ssdl|res://*/ReportModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=falat;User ID=sa;Password=123;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <!--<appSettings>
    <add key="SourceFilesPath" value="E:\Ghadir_Win_Prg\GTS Team\Ghadir Projects\Atlas TA Project\Database" />
    <add key="AsmSQLSourceFilesPath" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\DataBase\Scripts\CLRAssembly" />
    <add key="DLLSourceFilesPath" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.Model.SQLServerProject\bin\Debug" />
    <add key="Log4NetConfig" value="E:\Ghadir_Win_Prg\GTS\Construction\Phase1\GTS.Clock\GTS.Clock.AppService.Host\net4log.Config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>-->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ITotalWebService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://salavati1.ghadir.local/GTSWebservice/TotalWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITotalWebService" contract="ServiceReference1.ITotalWebService" name="BasicHttpBinding_ITotalWebService"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
