body {
}

.HHeadingFloatTableClass 
{
  background-image: url('../images/Grid/grid_headerBg3.gif');
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  Font-family: Arial;
  HEIGHT: 25px;  
}

.HHeadingFloatContainerClass
{
  background-image: url('../images/Grid/grid_headerBg3.gif');    
}


.HHeadingFloatTextClass
{
  text-align :center;
  color:White;
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  Font-family: Arial;
  text-wrap:break-word !important;
  white-space:normal !important;     
}
